// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light: #00000005;
$secondary: #00000087;

$primary: #FC3F37;
$btn-soft-primary: #FC3F3717;

$light: #B4B4B4;

