// Body

$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors


$danger: #CF0000;
$primary: #FC3F37;
$btn-soft-primary: #FC3F3717;
$secondary: #18313A;

$light-300: #B4B4B4;
$light: #18313A12;

$btn-light: #18313A12;

